.list {
    background-color: rgb(49, 46, 46);
    color: rgb(248, 244, 245);
    text-align: center;
  }

  .list1 {
    background-color: rgb(49, 46, 46);
    color: rgb(223, 7, 7);
    text-align: center;
  }
  
  
 